In [1]:
import pandas as pd
import wget
from datetime import datetime
import matplotlib.pyplot as plt
import os

/Users/jteruya/.pyenv/versions/3.8.0/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Matlabplot Display Parameters

In [2]:
# Display Plot within Jupyter Notebook
%matplotlib inline
# Default Plot Size
plt.rcParams['figure.figsize'] = [10, 10]

## Import Common Classes

In [3]:
%run common/Equity.ipynb

## Covid-19 Confirmed Case Data
Sourcing COVID-19 Numbers from [John Hopkins Covid-19 Data Repository](https://github.com/CSSEGISandData/COVID-19).

In [4]:
wget.download("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
confirmed_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
os.remove('time_series_covid19_confirmed_global.csv')

In [5]:
confirmed_df.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,35475,35526,35615,35727,35928,35981,36036,36157,36263,36368
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,4090,4171,4290,4358,4466,4570,4637,4763,4880,4997
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,23084,23691,24278,24872,25484,26159,26764,27357,27973,28615
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,880,884,884,889,889,897,897,897,907,907
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,705,749,779,812,851,880,916,932,950,1000
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,76,76,76,76,76,82,82,82,86,86
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,126755,130774,136118,141900,148027,153520,158334,162526,167416,173355
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,34877,34981,35254,35693,36162,36613,36996,37317,37390,37629
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,3588,3599,3614,3633,3640,3654,3668,3685,3699,3718

In [7]:
df = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v2/main.csv")

/Users/jteruya/.pyenv/versions/3.8.0/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (2,3,6,8,9,10,11,92) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [15]:
df.head(10)

,key,date,wikidata,datacommons,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,...,infant_mortality_rate,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,hospital_beds,nurses,physicians,health_expenditure,out_of_pocket_health_expenditure
0,AD,2020-01-01,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
1,AD,2020-01-02,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
2,AD,2020-01-03,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
3,AD,2020-01-04,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
4,AD,2020-01-05,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
5,AD,2020-01-06,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
6,AD,2020-01-07,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
7,AD,2020-01-08,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
8,AD,2020-01-09,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146
9,AD,2020-01-10,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,...,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.12146

In [38]:
country_df = df[(df['key'] == 'IT') & (df['subregion1_code'].isnull())][['date', 'restrictions_on_internal_movement', 'public_transport_closing']]

In [41]:
df.columns.tolist()

['key',
 'date',
 'wikidata',
 'datacommons',
 'country_code',
 'country_name',
 'subregion1_code',
 'subregion1_name',
 'subregion2_code',
 'subregion2_name',
 'locality_code',
 'locality_name',
 '3166-1-alpha-2',
 '3166-1-alpha-3',
 'aggregation_level',
 'school_closing',
 'workplace_closing',
 'cancel_public_events',
 'restrictions_on_gatherings',
 'public_transport_closing',
 'stay_at_home_requirements',
 'restrictions_on_internal_movement',
 'international_travel_controls',
 'income_support',
 'debt_relief',
 'fiscal_measures',
 'international_support',
 'public_information_campaigns',
 'testing_policy',
 'contact_tracing',
 'emergency_investment_in_healthcare',
 'investment_in_vaccines',
 'stringency_index',
 'population',
 'population_male',
 'population_female',
 'rural_population',
 'urban_population',
 'largest_city_population',
 'clustered_population',
 'population_density',
 'human_development_index',
 'population_age_00_09',
 'population_age_10_19',
 'population_age_20_29',
 'population_age_30_39',
 'population_age_40_49',
 'population_age_50_59',
 'population_age_60_69',
 'population_age_70_79',
 'population_age_80_89',
 'population_age_90_99',
 'noaa_station',
 'noaa_distance',
 'average_temperature',
 'minimum_temperature',
 'maximum_temperature',
 'rainfall',
 'snowfall',
 'new_confirmed',
 'new_deceased',
 'new_recovered',
 'new_tested',
 'total_confirmed',
 'total_deceased',
 'total_recovered',
 'total_tested',
 'new_hospitalized',
 'total_hospitalized',
 'current_hospitalized',
 'new_intensive_care',
 'total_intensive_care',
 'current_intensive_care',
 'new_ventilator',
 'total_ventilator',
 'current_ventilator',
 'open_street_maps',
 'latitude',
 'longitude',
 'elevation',
 'area',
 'rural_area',
 'urban_area',
 'gdp',
 'gdp_per_capita',
 'human_capital_index',
 'mobility_retail_and_recreation',
 'mobility_grocery_and_pharmacy',
 'mobility_parks',
 'mobility_transit_stations',
 'mobility_workplaces',
 'mobility_residential',
 'related_locality',
 'life_expectancy',
 'smoking_prevalence',
 'diabetes_prevalence',
 'infant_mortality_rate',
 'adult_male_mortality_rate',
 'adult_female_mortality_rate',
 'pollution_mortality_rate',
 'comorbidity_mortality_rate',
 'hospital_beds',
 'nurses',
 'physicians',
 'health_expenditure',
 'out_of_pocket_health_expenditure']